<a class="navbar-brand" >Lytfill</a>
<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarToggler">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#signUpModal">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#signInModal">Sign In</a>
    </li>
  </ul>
</div>
