<a class="navbar-brand">Lytfill</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse flex-column flex-column-reverse flex-lg-row" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link share-photo">Share a photo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#changePWModal">Change Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link sign-out-btn">Sign Out</a>
      </li>
    </ul>


    <span class="ml-auto navbar-text text-dark">
      Signed in as {{user}}
    </span>
  </ul>

</div>
