<div class="col-12">
  <form class="update-photo-form" data-id="{{photo.id}}">
    <h5>Edit photo</h5>
    <div class="form-group">
      <label for="newURL">URL</label>
      <input type="URL" class="form-control" id="newURL" value="{{photo.site}}" name="photo[site]" required autofocus>
    </div>
    <div class="form-group">
      <label for="newTitle">Title</label>
      <input type="text" class="form-control" id="newTitle" value="{{photo.title}}" name="photo[title]" required>
    </div>
    <div class="form-group">
      <label for="newDes">Description</label>
      <textarea class="form-control" id="newDes" name="photo[description]" rows='5' required>{{photo.description}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary edit-submit-btn">Submit</button>
  </form>
</div>
