@import '~bootstrap/scss/bootstrap';
body {
  font-family: 'Montserrat';
}
.photo-show{
  max-height: 50vh;
  object-fit: contain;
}

.wrapper {
  margin-top: 60px;
}

.fas.fa-heart {
  color: red;
}

.fa-plus-square {
  color: #5AF;
}

.clickable {
  cursor: pointer;
}
// .success {
//   color: limegreen;
// }
//
// .danger {
//   color: red;
// }
