@import '~bootstrap/scss/bootstrap';
.bg {
  background:black;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img-top {
  max-height: 50vh;
  object-fit: contain;
}

.wrapper {
  margin-top: 60px;
}
// .success {
//   color: limegreen;
// }
//
// .danger {
//   color: red;
// }
